/* Reset e base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    color: #333;
    background: #fff;
  }
  
  /* Container geral */
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 2rem;
  }
  
  /* Header */
  header {
    width: 100%;
    background: #ff2d2d;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    z-index: 999;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }
  
  .logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
  }
  
  /* Menu */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #ffe607;
  }
  
  /* Menu hamburguer */
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
  .hamburger span {
    width: 25px;
    height: 3px;
    background: #333;
    transition: all 0.3s ease;
  }
  
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  
  .hero {
    height: 100vh;
    background: linear-gradient(135deg, #970505, #f50909);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 80px 20px 20px;
  }
  
  
  .hero-content {
    max-width: 700px;
    animation: fadeIn 1s ease-in-out;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .hero-content p {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
  
  .btn {
    display: inline-block;
    padding: 0.8rem 2rem;
    background: #fff;
    color: #9b0a0a;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    transition: all 0.3s ease;
  }
  
  .btn:hover {
    background: #f58d8d;
  }
  
  /* Animação */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Responsivo */
  @media (max-width: 768px) {
    .nav-links {
      position: absolute;
      top: 70px;
      right: 0;
      background: #b80000;
      width: 100%;
      flex-direction: column;
      align-items: center;
      display: none;
      padding: 1rem 0;
      box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .hamburger {
      display: flex;
    }
  }
  
  .rodapé{
    top: 30%;
    position: relative;
    text-align: center;
    font-size: 200%;
    font-family: fantasy;
    background: #ff2d2d ;
    color: #fff;
  }
  
  .img{
    height: -5px;
    right: 30px;
  }